.logo {
    width: 60px;
    height: 42px;
}

.p-y {
    padding-top: 1em;
    padding-bottom: 1em;
}

.p-b {
    padding-bottom: 1em;
}

.m-b {
    margin-bottom: 1em;
}

.container {
    max-width: 600px;
}
