.logo {
    width: 60px;
    height: 42px;
}
.p-y{
  padding-top: 2em;
  padding-bottom: 2em;
}
.p-b {
    padding-bottom: 2em;
}

.m-b {
    margin-bottom: 2em;
}

.container {
    max-width: 600px;
}
